<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
                <!-- Database connection settings -->
                <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
                <property name="connection.url">jdbc:mysql://127.0.0.1:1204/yes</property><![CDATA[
                
                
                ]]><!-- JDBC connection pool (use the built-in) -->
                <!--
        <property name="connection.pool_size">1</property>
         -->
                <!-- SQL dialect -->
                <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
                <!-- Enable Hibernate's automatic session context management -->
                <property name="current_session_context_class">thread</property>
         
                <!-- Echo all executed SQL to stdout -->
                <property name="show_sql">true</property>
        <mapping class="com.mowozy.Entity.Appearances"/>
        <mapping resource="com/mowozy/Entity/Appearances.hbm.xml"/>
        <mapping resource="com/mowozy/Entity/Courses.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Courses"/>
        <mapping resource="com/mowozy/Entity/Exams.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Exams"/>
        <mapping resource="com/mowozy/Entity/Grades.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Grades"/>
        <mapping resource="com/mowozy/Entity/Questions.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Questions"/>
        <mapping resource="com/mowozy/Entity/Trans.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Trans"/>
        <mapping class="com.mowozy.Entity.Users"/>

        <mapping resource="com/mowozy/Entity/Users.hbm.xml"/>
        <mapping resource="com/mowozy/Entity/Usersappearance.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Usersappearance"/>
        <mapping resource="com/mowozy/Entity/Userscourses.hbm.xml"/>
        <mapping class="com.mowozy.Entity.Userscourses"/>
                        <!-- Drop and re-create the database schema on startup -->
                <!--
        <property name="hbm2ddl.auto">update</property>
        -->

    </session-factory>
</hibernate-configuration>
