<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(../static/img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Page not found</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>404!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!--  ===================== Page not found area start ===================== -->
    <section class="error_page section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--  Page not found text start -->
                    <div class="not-found-text text-center">
                        <h2>404</h2>
                        <h3>OOPS! PAGE NOT FOUND</h3>
                        <a class="btn blog-btn" href="index.html" role="button">BACK TO HOME PAGE <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  ===================== Page not found area end ===================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->
</body>

</html>