<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

<!-- ===================== Breadcumb Area Start ===================== -->
<section class="breadcumb_area" style="background-image: url(../img/bg-pattern/breadcumb.jpg);">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcumb_section">
                    <!-- Breadcumb page title start -->
                    <div class="page_title">
                        <h3>关于我们</h3>
                    </div>
                    <!-- Breadcumb page pagination start -->
                    <div class="page_pagination">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== Breadcumb Area End ===================== -->

<!-- ===================== About Us Area Start ===================== -->
<section class="about_us_area section_padding_100_70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 item">
                <!-- About us text start -->
                <div class="about_us_text">
                    <h3>About <span>YES</span></h3>
                    <p>面对现今我省外语教学中普遍突出的老师教不好，学生学不进，家长教不了的教学现状，教育培训机构收费高昂，师资良莠不齐的窘境和现今教育部对于在职教师有偿家教的严令禁止以及受益于“互联网+”思想的普及和影响，我们打造了YES（外语网络自主学习平台）（以下简称为“YES”）这一款专为小学四年级到初中三年级学龄段学生打造的集外语启蒙，外语辅助式教学，外语兴致拓展，外语考试冲刺，外语合作对抗性学习为一体的线上外语教学网站。</p>
                </div>

                <!-- About us special quote start -->
                <div class="special_service">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- About us single quote start -->
                            <div class="single_special_service">
                                <h5><i class="fa fa-check-circle" aria-hidden="true"></i> We are Global</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- About us single quote start -->
                            <div class="single_special_service">
                                <h5><i class="fa fa-check-circle" aria-hidden="true"></i> Highest Rated</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- About us single quote start -->
                            <div class="single_special_service">
                                <h5><i class="fa fa-check-circle" aria-hidden="true"></i> Online Traning</h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- About us single quote start -->
                            <div class="single_special_service">
                                <h5><i class="fa fa-check-circle" aria-hidden="true"></i> Awesome Support</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6 item">
                <!-- About us thumb start -->
                <div class="about_us_thumb">
                    <img src="../img/yes.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== About Us Area End ===================== -->

<!-- ===================== Cool Facts Area Start ===================== -->
<section class="about_cool_facts cool_facts_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h3><span class="counter">763</span></h3>
                    <h4>Free Courses</h4>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3><span class="counter">10</span>k+</h3>
                    <h4>Students Enrolled</h4>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <h3><span class="counter">251</span></h3>
                    <h4>Certified Teachers</h4>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <h3><span class="counter">7412</span></h3>
                    <h4>Complate Graduates</h4>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ===================== Why Chooses Area End ===================== -->

<!-- Our mission area start -->
<section class="our_mission_vision_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <!-- Our mission thumb start -->
                <div class="about_us_thumb mission">
                    <img src="../img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Single accordian start -->
                    <div class="panel single-accordion">
                        <h5><a role="button" class="collapse" aria-expanded="true" aria-controls="collapseOne"
                               data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Our Mission
                            <span class="accor-open">+</span>
                            <span class="accor-close">-</span>
                        </a></h5>
                        <div id="collapseOne" class="accordion-content collapse show">
                            <p>YES项目致力于打造大数据时代初中小学线上外语教学服务生态圈，并形成独具特色的高端高保障低价低门槛的线上外语教学品牌。让更加优秀的外语课堂以更加亲民的形式走进千家万户，改观大家对于外语枯燥乏味的刻板印象，让轻松有趣高效的外语教学助力于更高的外语发展需求</p>
                        </div>
                    </div>
                    <!-- Single accordian start -->
                    <div class="panel single-accordion">
                        <h5>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="two"
                               data-parent="#accordion" data-toggle="collapse" href="#two">Our Vision
                                <span class="accor-open">+</span>
                                <span class="accor-close">-</span>
                            </a>
                        </h5>
                        <div id="two" class="accordion-content collapse">
                            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                                litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo
                                typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our mission area end -->

<!-- ==================== Message Now Area Start ==================== -->
<section class="message_now_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Message Title -->
                <div class="message_title">
                    <h3>Send us a message now!</h3>
                </div>
            </div>
        </div>
        <!-- .end row -->
        <div class="row">
            <div class="col-12">
                <form action="mail.php" method="post" id="main_contact_form">
                    <!-- Message Input Area Start -->
                    <div class="contact_input_area">
                        <div id="success_fail_info"></div>
                        <div class="row">
                            <!-- Single Input Area Start -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Your Name *">
                                </div>
                            </div>
                            <!-- Single Input Area Start -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="email"
                                           placeholder="Your E-mail *" required>
                                </div>
                            </div>
                            <!-- Single Input Area Start -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" id="subject"
                                           placeholder="Your Subject *" required>
                                </div>
                            </div>
                            <!-- Single Input Area Start -->
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="number" name="number" class="form-control" id="number"
                                           placeholder="Your Number *" required>
                                </div>
                            </div>

                            <!-- Single Input Area Start -->
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" cols="30" rows="10"
                                              placeholder="Your Message *" required></textarea>
                                </div>
                            </div>
                            <!-- Single Input Area Start -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-default">SEND MESSAGE</button>
                            </div>
                        </div>
                    </div>
                    <!-- Message Input Area End -->
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Message Now Area Start ==================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>