<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->
    <!-- ===================== Breadcumb area start ===================== -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>文章列表</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Artical List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Breadcumb area end ===================== -->

    <!-- ========================== Latest Blog Area Start ========================== -->
    <section class="latest_blog_news_area blog sidebar section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="blog_rightsider">
                        <div class="row">
                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src="@{img/news-img/blog.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">15</p>
                                            <p class="month">Aug</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="artical-details.html" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog-2.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">27</p>
                                            <p class="month">Jul</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog-3.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">22</p>
                                            <p class="month">Jun</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog-4.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">29</p>
                                            <p class="month">May</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">13</p>
                                            <p class="month">Apr</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog-2.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">11</p>
                                            <p class="month">Mar</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog-3.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">21</p>
                                            <p class="month">Feb</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single latest news area start -->
                            <div class="col-lg-6">
                                <div class="single_latest_news_area">
                                    <!-- single latest news thumb -->
                                    <div class="single_latest_news_img_area">
                                        <img th:src = "@{img/news-img/blog-4.jpg}" alt="">
                                        <!-- single latest news published date -->
                                        <div class="published_date">
                                            <p class="date">14</p>
                                            <p class="month">Jan</p>
                                        </div>
                                    </div>
                                    <div class="single_latest_news_text_area">
                                        <!-- single latest news title -->
                                        <div class="news_title">
                                            <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                                        </div>
                                        <!-- single latest news excerp -->
                                        <div class="news_content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                            <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="event_sidebar">
                        <div class="search_post">
                            <h3>Search <span>Post</span></h3>
                            <form action="#">
                                <input type="search" placeholder="Enter Keyword...">
                            </form>
                        </div>
                        <div class="achive_section">
                            <h3>Achives</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>July - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>August - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>September - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>October - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>November - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>December - 2016</a></li>
                            </ul>
                        </div>
                        <div class="latest_post">
                            <h3>Recent <span>Post</span></h3>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-1.jpg}" alt="">
                                <a href="#">
                                    <h5>7 Quick Ways to Make a Great Event Successful</h5>
                                </a>
                                <p>25 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-2.jpg}" alt="">
                                <a href="#">
                                    <h5>Science &amp; IT Fair Coming to Your University</h5>
                                </a>
                                <p>48 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-3.jpg}" alt="">
                                <a href="#">
                                    <h5>How to Pick the Right Event Titles for Your Events</h5>
                                </a>
                                <p>55 min ago</p>
                            </div>
                        </div>
                        <div class="catagory_section">
                            <h3>Catagory</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Business</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Education</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tourist</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Workshop</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sports</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Fine Arts</a></li>
                            </ul>
                        </div>
                        <div class="tag_section">
                            <h3>Tags <span>Cloud</span></h3>
                            <ul>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">E-commerce</a></li>
                                <li><a href="#">Web</a></li>
                                <li><a href="#">Apps</a></li>
                                <li><a href="#">Development</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Pagination Area Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </nav>
                    <!-- Pagination Area End -->
                </div>
            </div>
        </div>
    </section>
    <!-- ========================== Latest Blog Area End ========================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>