<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>文章详情</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Artical Detail</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ================= Start Single Blog Post Area ================= -->
    <section class="singl-blog-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Blog Main Image -->
                    <div class="blog-img">
                        <img th:src = "@{img/bg-pattern/tes-bg.jpg}" alt="blog-img">
                    </div>
                    <div class="singl-blog-post">
                        <figure>
                            <!-- Blog Title -->
                            <div class="singl-blog-title">
                                <h3>Improve Your Computer Skills, Sign Up For Free Online Courses</h3>
                            </div>
                            <!-- Blog Status Bar Area -->
                            <div class="singl-blog-status-bar">
                                <span><i class="fa fa-user"></i><a href="">Nazrul Islam</a></span>
                                <span><i class="fa fa-clock-o"></i><a href="">31 Aug, 2016</a></span>
                                <span><i class="fa fa-folder-o"></i><a href="">Web Design</a></span>
                                <span><i class="fa fa-comment-o "></i><a href="#comment">8 Comments</a></span>
                            </div>
                            <!-- Single Blog Details Area -->
                            <div class="singl-blog-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco off a laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non home roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae to vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                <blockquote>
                                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam. Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                                </blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco off a laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non home proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae to vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            </div>
                            <!-- Blog Tag and share Area -->
                            <div class="tag-share clearfix">
                                <div class="share-links pull-left">
                                    <span class="share-promt">Share:</span>
                                    <!-- Social Links -->
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                                <!-- Tags -->
                                <div class="tags">
                                    <span class="tags-title">Tag:</span>
                                    <span><a href="#">Web Design,</a></span>
                                    <span><a href="#">Web,</a></span>
                                    <span><a href="#">Psd,</a></span>
                                    <span><a href="#">Tips</a></span>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="event_sidebar">
                        <div class="search_post">
                            <h3>Search <span>Post</span></h3>
                            <form action="#">
                                <input type="search" placeholder="Enter Keyword...">
                            </form>
                        </div>
                        <div class="achive_section">
                            <h3>Achives</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>July - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>August - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>September - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>October - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>November - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>December - 2016</a></li>
                            </ul>
                        </div>
                        <div class="latest_post">
                            <h3>Recent <span>Post</span></h3>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-1.jpg}" alt="">
                                <a href="#"><h5>7 Quick Ways to Make a Great Event Successful</h5></a>
                                <p>25 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-2.jpg}" alt="">
                                <a href="#"><h5>Science &amp; IT Fair Coming to Your University</h5></a>
                                <p>48 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-3.jpg}" alt="">
                                <a href="#"><h5>How to Pick the Right Event Titles for Your Events</h5></a>
                                <p>55 min ago</p>
                            </div>
                        </div>
                        <div class="catagory_section">
                            <h3>Catagory <span>Tags</span></h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Business</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Education</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tourist</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Workshop</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sports</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Fine Arts</a></li>
                            </ul>
                        </div>
                        <div class="tag_section">
                            <h3>Tags <span>Cloud</span></h3>
                            <ul>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">E-commerce</a></li>
                                <li><a href="#">Web</a></li>
                                <li><a href="#">Apps</a></li>
                                <li><a href="#">Development</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="event_next_previous">
                        <div class="previous">
                            <a href="#">Previous</a>
                        </div>
                        <div class="next">
                            <a href="#">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================= End Single Blog Post Area ================= -->

    <!-- ================= Start comment area ================= -->
    <section class="comment">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Comment Title -->
                    <div class="comment-title">
                        <h4>2 Comments</h4></div>
                    <ul>
                        <li>
                            <div class="comments-wrapper clearfix">
                                <!-- Commenter Avater -->
                                <div class="comment-img">
                                    <img th:src = "@{img/teacher-img/team-member-2.jpg}" alt="Author Pic">
                                </div>
                                <!-- Single Comment Area Start -->
                                <div class="single-comment">
                                    <div class="comment-head clearfix">
                                        <div class="commenter">
                                            <a class="name" href="#"><h5>Delower Hosain</h5></a>
                                            <div class="comment-time"><span>Jan 14, 2016</span></div>
                                        </div>
                                        <a class="replay d-none d-sm-block" href="#">reply</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                    <a class="replay d-sm-none" href="#">reply</a>
                                </div>
                                <!-- Single Comment Area End -->
                            </div>
                        </li>
                        <li>
                            <div class="comments-wrapper clearfix">
                                <!-- Commenter Avater -->
                                <div class="comment-img">
                                    <img class="media-object" th:src = "@{img/teacher-img/team-member-3.jpg}" alt="Author Pic">
                                </div>
                                <!-- Single Comment Area Start -->
                                <div class="single-comment">
                                    <div class="comment-head clearfix">
                                        <div class="commenter">
                                            <a class="name" href="#"><h5>Dipti Islam</h5></a>
                                            <div class="comment-time"><span>Jan 14, 2016</span></div>
                                        </div>
                                        <a class="replay d-none d-sm-block" href="#">reply</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                    <a class="replay d-sm-none" href="#">reply</a>
                                </div>
                                <!-- Single Comment Area End -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ================= End comment area ================= -->

    <!-- ================= Start Comment Form ================= -->
    <section id="contact-form" class="blog_comment_form">
        <div class="container no-padding">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Setion Title -->
                    <div class="contact-form-title">
                        <h4>Leave a Comment</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-9">
                    <form action="#">
                        <!-- Single Input Start -->
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <!-- Single Input Start -->
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-mail Address" required>
                                </div>
                            </div>
                            <!-- Single Input Start -->
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Web Address (Optional)">
                                </div>
                            </div>
                            <!-- Single Input Start -->
                            <div class="col-12">
                                <div class="form-group text-area">
                                    <textarea class="form-control" id="message" placeholder="Write Your Comments"></textarea>
                                </div>
                            </div>
                            <!-- Single Input Start -->
                            <div class="col-12">
                                <div class="form-group text-area text-center">
                                    <input type="submit" value="Drope Your Comments" id="submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ================= End Comment Form ================= -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>