<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

<!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>课程列表</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Course List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ===================== Popular Courses Area Start ===================== -->
    <div class="popular_coureses_area all_courses grid_list section_padding_100">
        <div class="container">
            <div class="row">

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses course-list">
                        <!-- Single Courses Image Area -->
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/c-1.jpg);"></div>
                        <!-- Single Courses Description Area -->
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="course-details.html">Introduction to Family Engagement in Education</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt rem et ratione repellat sapiente, alias, reprehenderit. Consequatur veritatis inventore a, dolor, sed, numquam molestias distinctio officia pariatur voluptates laudantium eligendi velit et veniam sunt, labore architecto neque. Facere architecto, id magnam quis omnis perferendis modi qui vel accusantium velit quidem!</p>
                            </div>
                            <div class="price_rating_area d-flex align-items-center">
                                <div class="price w-50">
                                    <span>$199</span>
                                </div>
                                <div class="rating text-right w-50">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <span>(4 Vote)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses course-list">
                        <!-- Single Courses Image Area -->
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/c-2.jpg);"></div>
                        <!-- Single Courses Description Area -->
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">Introduction to Family Engagement in Education</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt rem et ratione repellat sapiente, alias, reprehenderit. Consequatur veritatis inventore a, dolor, sed, numquam molestias distinctio officia pariatur voluptates laudantium eligendi velit et veniam sunt, labore architecto neque. Facere architecto, id magnam quis omnis perferendis modi qui vel accusantium velit quidem!</p>
                            </div>
                            <div class="price_rating_area d-flex align-items-center">
                                <div class="price w-50">
                                    <span>$199</span>
                                </div>
                                <div class="rating text-right w-50">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <span>(4 Vote)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses course-list">
                        <!-- Single Courses Image Area -->
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/c-3.jpg);"></div>
                        <!-- Single Courses Description Area -->
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">Introduction to Family Engagement in Education</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt rem et ratione repellat sapiente, alias, reprehenderit. Consequatur veritatis inventore a, dolor, sed, numquam molestias distinctio officia pariatur voluptates laudantium eligendi velit et veniam sunt, labore architecto neque. Facere architecto, id magnam quis omnis perferendis modi qui vel accusantium velit quidem!</p>
                            </div>
                            <div class="price_rating_area d-flex align-items-center">
                                <div class="price w-50">
                                    <span>$199</span>
                                </div>
                                <div class="rating text-right w-50">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <span>(4 Vote)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses course-list">
                        <!-- Single Courses Image Area -->
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/c-4.jpg);"></div>
                        <!-- Single Courses Description Area -->
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">Introduction to Family Engagement in Education</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt rem et ratione repellat sapiente, alias, reprehenderit. Consequatur veritatis inventore a, dolor, sed, numquam molestias distinctio officia pariatur voluptates laudantium eligendi velit et veniam sunt, labore architecto neque. Facere architecto, id magnam quis omnis perferendis modi qui vel accusantium velit quidem!</p>
                            </div>
                            <div class="price_rating_area d-flex align-items-center">
                                <div class="price w-50">
                                    <span>$199</span>
                                </div>
                                <div class="rating text-right w-50">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <span>(4 Vote)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Pagination Area Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== Popular Courses Area End ===================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>