<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->
    <!-- Breadcumb area start -->
<section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>活动详情</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Event Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <section class="event_details_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="event_details">
                        <div class="event_thumbnails">
                            <img class="img-thumbnail img-responsive" th:src="@{img/course-img/event-details.jpg}" alt="">
                            <div class="event_details_thumb_overlay">
                                <div class="price_rating_area countdown event_details">
                                    <ul data-countdown="2018/01/15 14:21:37" class="timer">
                                        <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                        <li><span class="days">0</span>days</li>
                                        <li><span class="hours">0</span>hrs</li>
                                        <li><span class="minutes">00</span>min</li>
                                        <li><span class="seconds">00</span>sec</li>
                                    </ul>
                                </div>
                                <!-- Event Coundown area End -->
                            </div>
                        </div>
                        <div class="event_title">
                            <h3>7 Quick Ways to Make a Great Event Successful</h3>
                            <div class="date_time">
                                <div class="date">
                                    <p><span class="icon-calendar"></span> 15 Jan, 2018</p>
                                </div>
                                <div class="time">
                                    <p><span class="icon-clock"></span> 20:30</p>
                                </div>
                            </div>
                        </div>
                        <div class="event_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa natus eos fuga ex, eum explicabo, recusandae, vitae provident beatae quibusdam deserunt minus quis voluptate, sapiente minima mollitia. Praesentium nulla, sunt perferendis, sit facere dolorem cum voluptatum et, sequi hic unde molestias soluta perspiciatis molestiae, aspernatur quos qui non nam exercitationem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus praesentium saepe assumenda explicabo ullam esse, quaerat, nisi id sequi accusantium fugiat beatae aut doloremque repellat commodi, perspiciatis odio itaque pariatur? Sapiente mollitia, voluptatum corrupti!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius accusantium temporibus quisquam. Minima quia sunt minus cumque enim. Similique libero a officiis aliquam, officia eligendi quos expedita itaque hic laboriosam voluptas distinctio, qui nobis, ex impedit? Quo tempora, necessitatibus odio cumque quas. Reprehenderit unde eaque, dolores vero quisquam atque tempora cupiditate doloremque dolorum quam, autem, rerum saepe eos neque aut!</p>
                        </div>
                        <div class="event_speakers">
                            <h3>Event <span>Speakers</span></h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single_event_speaker">
                                        <img th:src="@{img/teacher-img/team-member-1.jpg}" alt="">
                                        <h5>Nazrul Islam</h5>
                                        <p>Senior Speaker</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single_event_speaker">
                                        <img th:src="@{img/teacher-img/team-member-2.jpg}" alt="">
                                        <h5>Rafique Islam</h5>
                                        <p>Junior Speaker</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single_event_speaker">
                                        <img th:src="@{img/teacher-img/team-member-3.jpg}" alt="">
                                        <h5>Lima Islam</h5>
                                        <p>Guest Speaker</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery_area event_details">
                            <h3>Event <span>Gallery</span></h3>
                            <div class="gallery_full_width_images_area">

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/1.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/2.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/3.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/4.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/5.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/6.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/7.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/8.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/9.jpg}" alt="">
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="single_gallery_item clearfix">
                                    <img th:src="@{img/gallery/10.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="event_sidebar">
                        <div class="event_location">
                            <div class="map_area" id="googleMap"></div>
                        </div>
                        <div class="achive_section">
                            <h3>Achives</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>July - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>August - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>September - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>October - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>November - 2016</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>December - 2016</a></li>
                            </ul>
                        </div>
                        <div class="latest_post">
                            <h3>Latest <span>Courses</span></h3>
                            <div class="single_latest_post">
                                <img th:src="@{img/course-img/event-1.jpg}" alt="">
                                <a href="#">
                                    <h5>7 Quick Ways to Make a Great Event Successful</h5>
                                </a>
                                <p>25 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src="@{img/course-img/event-2.jpg}" alt="">
                                <a href="#">
                                    <h5>Science &amp; IT Fair Coming to Your University</h5>
                                </a>
                                <p>48 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src="@{img/course-img/event-3.jpg}" alt="">
                                <a href="#">
                                    <h5>How to Pick the Right Event Titles for Your Events</h5>
                                </a>
                                <p>55 min ago</p>
                            </div>
                        </div>
                        <div class="catagory_section">
                            <h3>Catagory <span>Tags</span></h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Business</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Education</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tourist</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Workshop</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sports</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Fine Arts</a></li>
                            </ul>
                        </div>
                        <div class="tag_section">
                            <h3>Tags <span>Cloud</span></h3>
                            <ul>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">E-commerce</a></li>
                                <li><a href="#">Web</a></li>
                                <li><a href="#">Apps</a></li>
                                <li><a href="#">Development</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>