<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Event List</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Event List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ===================== Popular Courses Area Start ===================== -->
    <div class="popular_coureses_area home2 event-list section_padding_100">
        <div class="container">
            <div class="row">

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses">
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/event-1.jpg);"></div>
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="event-details.html">7 Quick Ways to Make a Great Event Successful</a>
                                <div class="date_time d-flex">
                                    <div class="date w-50">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time w-50 text-right">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ut earum officia, quisquam eos laboriosam distinctio laudantium! Quis voluptas eaque, quasi id adipisci dicta nemo, sint quia labore perspiciatis commodi.</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->
                            <div class="price_rating_area">
                                <ul data-countdown="2018/01/01 14:21:37" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses">
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/event-2.jpg);"></div>
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">7 Quick Ways to Make a Great Event Successful</a>
                                <div class="date_time d-flex">
                                    <div class="date w-50">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time w-50 text-right">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ut earum officia, quisquam eos laboriosam distinctio laudantium! Quis voluptas eaque, quasi id adipisci dicta nemo, sint quia labore perspiciatis commodi.</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->
                            <div class="price_rating_area">
                                <ul data-countdown="2018/01/01 14:21:37" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses">
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/event-3.jpg);"></div>
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">7 Quick Ways to Make a Great Event Successful</a>
                                <div class="date_time d-flex">
                                    <div class="date w-50">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time w-50 text-right">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ut earum officia, quisquam eos laboriosam distinctio laudantium! Quis voluptas eaque, quasi id adipisci dicta nemo, sint quia labore perspiciatis commodi.</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->
                            <div class="price_rating_area">
                                <ul data-countdown="2018/01/01 14:21:37" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses">
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/event-1.jpg);"></div>
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">7 Quick Ways to Make a Great Event Successful</a>
                                <div class="date_time d-flex">
                                    <div class="date w-50">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time w-50 text-right">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ut earum officia, quisquam eos laboriosam distinctio laudantium! Quis voluptas eaque, quasi id adipisci dicta nemo, sint quia labore perspiciatis commodi.</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->
                            <div class="price_rating_area">
                                <ul data-countdown="2018/01/01 14:21:37" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-12">
                    <div class="single_courses">
                        <div class="single_courses_thumb" style="background-image: url(img/course-img/event-2.jpg);"></div>
                        <div class="single_courses_desc">
                            <div class="title">
                                <a href="#">7 Quick Ways to Make a Great Event Successful</a>
                                <div class="date_time d-flex">
                                    <div class="date w-50">
                                        <p><span class="icon-calendar"></span> 16 Sep, 2017</p>
                                    </div>
                                    <div class="time w-50 text-right">
                                        <p><span class="icon-clock"></span> 20:30</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, ut earum officia, quisquam eos laboriosam distinctio laudantium! Quis voluptas eaque, quasi id adipisci dicta nemo, sint quia labore perspiciatis commodi.</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->
                            <div class="price_rating_area">
                                <ul data-countdown="2018/01/01 14:21:37" class="timer">
                                    <!-- Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                                    <li><span class="days">0</span>d</li>
                                    <li><span class="hours">0</span>h</li>
                                    <li><span class="minutes">00</span>m</li>
                                    <li><span class="seconds">00</span>s</li>
                                </ul>
                            </div>
                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Pagination Area Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </nav>
                    <!-- Pagination Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== Popular Courses Area End ===================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->
</body>

</html>