<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->
    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Gallery</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Gallery Full Width</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <section class="gallery_area clearfix section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <h4>Our Recent Gallery</h4>
                    </div>
                    <!-- Section Heading End -->
                </div>
            </div>
        </div>

        <div class="gallery_full_width_images_area">

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/1.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery One</h5>
                                <p>Event &amp; Planning</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/1.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/2.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Two</h5>
                                <p>Bio-chemistry</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/2.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/3.jpg}" alt="">
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Three</h5>
                                <p>Meeting</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/3.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/4.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Four</h5>
                                <p>Studing</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/4.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/5.jpg}" alt="">
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Five</h5>
                                <p>Team Work</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/5.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/6.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Six</h5>
                                <p>Studing</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/6.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/7.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Seven</h5>
                                <p>IT Coures</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/7.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/8.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Eight</h5>
                                <p>In Campus</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/8.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/9.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Nine</h5>
                                <p>In Campus</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/9.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single gallery Item Start -->
            <div class="single_gallery_item clearfix">
                <img th:src="@{img/gallery/10.jpg}" alt="">
                <!-- Single gallery Item hover caption -->
                <div class="hover_overlay">
                    <div class="table">
                        <div class="table_cell">
                            <div class="gallery_info">
                                <h5>Gallery Ten</h5>
                                <p>In Campus</p>
                            </div>
                            <!-- Popup links -->
                            <div class="links">
                                <a class="magnific-popup" href="img/gallery/10.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Pagination Area Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </nav>
                    <!-- Pagination Area End -->
                </div>
            </div>
        </div>
    </section>

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>