<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(../static/img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Knowledgebase</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Knowledgebase</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- About us area start -->
    <section class="knowledgebase_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">

                    <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
                        <h3>Admission <span>Releted</span></h3>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="ad_one" data-toggle="collapse" data-parent="#accordion" href="#ad_one">How can I apply for a job?<span class="accor-open">+</span><span class="accor-close">-</span></a></h5>
                            <div id="ad_one" class="accordion-content collapse show">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" class="collapsed" aria-expanded="true" aria-controls="ad_two" data-parent="#accordion" data-toggle="collapse" href="#ad_two">Where can I find out about events?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="ad_two" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="ad_three" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#ad_three">Who can use the libraries?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="ad_three" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="ad_four" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#ad_four">Are there campus tours for visitors?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="ad_four" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="ad_five" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#ad_five">What is the phone number for the University?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="ad_five" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="accordions" id="accordion-2" role="tablist" aria-multiselectable="true">
                        <h3>Faculty <span>Releted</span></h3>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="fa_one" data-toggle="collapse" data-parent="#accordion-2" href="#fa_one">How can I apply for a job?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="fa_one" class="accordion-content collapse show">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" class="collapsed" aria-expanded="true" aria-controls="fa_two" data-parent="#accordion-2" data-toggle="collapse" href="#fa_two">Where can I find out about events?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="fa_two" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="fa_three" class="collapsed" data-parent="#accordion-2" data-toggle="collapse" href="#fa_three">Who can use the libraries?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="fa_three" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="fa_four" class="collapsed" data-parent="#accordion-2" data-toggle="collapse" href="#fa_four">Are there campus tours for visitors?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="fa_four" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5><a role="button" aria-expanded="true" aria-controls="fa_five" class="collapsed" data-parent="#accordion-2" data-toggle="collapse" href="#fa_five">What is the phone number for the University?<span class="accor-open">+</span><span class="accor-close">-</span></a>
                            </h5>
                            <div id="fa_five" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us area end -->
<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>