<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->
    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Blog</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ========================== Latest Blog Area Start ========================== -->
    <div class="latest_blog_news_area blog section_padding_100">
        <div class="container">
            <div class="row">

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="news-details.html" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog-2.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog-3.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog-4.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog-2.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog-3.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog-4.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- single latest news area start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_latest_news_area">
                        <!-- single latest news thumb -->
                        <div class="single_latest_news_img_area">
                            <img th:src="@{img/news-img/blog.jpg}" alt="">
                            <!-- single latest news published date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- single latest news title -->
                            <div class="news_title">
                                <a href="#">Improve Your Computer Skills, Sign Up For Free Online Courses</a>
                            </div>
                            <!-- single latest news excerp -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ducimus consectetur assumenda, ullam dolor provident?</p>
                                <a href="#" class="btn blog-btn">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Pagination Area Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================== Latest Blog Area End ========================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>