<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->


<!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Register</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- Login area start -->
    <div class="login_area section_padding_100">
        <div class="container">
            <div class="row">
                <!-- Login thumb -->
                <div class="col-12 col-lg-5 col-xl-6">
                    <div class="login_thumb" style="background-image: url(img/bg-pattern/courses-bg.jpg);">
                        <!-- Login thumb caption -->
                        <div class="login_thumb_caption">
                            <h3>Register is so Easy!</h3>
                            <p>Register &amp; start learning.</p>
                        </div>
                    </div>
                </div>
                <!-- Register form area start  -->
                <div class="col-12 col-lg-7 col-xl-6">
                    <div class="register_form">
                        <form action="#" method="post" th:action="@{/register}">
                            <!-- Single Register input area start  -->
                            <div class="form-group">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label th:text = "'邮箱 '+${email}+'已被占用'"></label>
                            </div>

                            <!-- Single Register input area start  -->
                            <button type="submit" class="btn btn-default" id="login_submit">Rigister Again</button>
                        </form>
                        <div class="already_have_account">
                            <a href="login.html"><i class="fa fa-user-plus" aria-hidden="true"></i> Already have a account? Login</a>
                        </div>
                    </div>
                </div>
                <!-- Register form area end  -->
            </div>
        </div>
    </div>
    <!-- Login area end -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->
</body>

</html>