<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Courses</title>

    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <link th:href="@{background/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{background/css/font-awesome.min.css}" rel="stylesheet">

    <!-- jqgrid-->
    <link th:href="@{background/css/plugins/jqgrid/ui.jqgrid.css}" rel="stylesheet">

    <link th:href="@{background/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{background/css/style.min.css}" rel="stylesheet">
    <base target="_blank">

    <style>
        /* Additional style to fix warning dialog position */

        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>课程信息管理</h5>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table>
                        <div id="pager_list_2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{background/js/jquery.min.js}"></script>
<script th:src="@{background/js/bootstrap.min.js}"></script>
<script th:src="@{background/js/plugins/peity/jquery.peity.min.js}"></script>
<script th:src="@{background/js/plugins/jqgrid/i18n/grid.locale-cn.js}"></script>
<script th:src="@{background/js/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
<script th:src="@{background/js/content.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $.jgrid.defaults.styleUI = "Bootstrap";
        var mydata = [{
            TId: "100011",
            TCId: "10001",
            TUId: "10006",
            TPrice: "125.00",
            TState: "1",
            Tstartdate: "2018-1-10",
            Tenddate: "2018-1-10",

        }];
        $("#table_list_2").jqGrid({
            data: mydata,
            datatype: "local",
            height: 450,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ["交易号", "课程号", "用户号", "价格", "交易状态", "开始时间", "结束时间"],
            colModel: [{
                name: "TId",
                index: "TId",
                editable: true,
                width: 60,
                sorttype: "int",
                search: true
            }, {
                name: "TCId",
                index: "TCId",
                editable: true,
                width: 90,
                sorttype: "int",
                search: true
            }, {
                name: "TUId", index: "TUId", editable: true, width: 100,
                sorttype: "int",
                search: true
            },
                {
                    name: "TPrice",
                    index: "TPrice",
                    editable: true,
                    width: 80,
                    sorttype: "float",
                    formatter: "number"
                }, {
                    name: "Tenddate",
                    index: "Tenddate",
                    editable: true,
                    width: 80,
                    sorttype: "date",
                    formatter: "date"
                },
                {
                    name: "TState", index: "TState", editable: true, width: 50,
                }, {
                    name: "Tstartdate",
                    index: "Tstartdate",
                    editable: true,
                    width: 80,
                    sorttype: "date",
                    formatter: "date"
                }],
            pager: "#pager_list_2",
            viewrecords: true,
            caption: "订单列表",
            add: true,
            edit: true,
            addtext: "Add",
            edittext: "Edit",
            hidegrid: false
        });
        $("#table_list_2").setSelection(4, true);
        $("#table_list_2").jqGrid("navGrid", "#pager_list_2", {
            edit: true,
            add: true,
            del: true,
            search: true
        }, {height: 200, reloadAfterSubmit: true});
        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_1").setGridWidth(width);
            $("#table_list_2").setGridWidth(width)
        })
    });
</script>
</body>

</html>