<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head th:replace="include-content :: head">
</head>

<body>
<!-- preloader start -->
<div id="preloader"></div>
<!-- /.end preloader -->

<!-- Header Area Start -->
<header class="header_area" th:replace="include-content :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- ===================== Breadcumb area start ===================== -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>学习空间</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>User Space</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Breadcumb area end ===================== -->

    <!-- ========================== User Space Area Start ========================== -->
    <section class="latest_blog_news_area blog sidebar section_padding_100">
        <div class="container">
            <div class="row">
                <!--Left Area Start-->
                <div class="col-12 col-lg-3">
                    <div class="event_sidebar">
                        <div class="achive_section">
                            <img th:src = "@{img/users-img/usersmall.png}" class="img-thumbnail" alt="" >
                            <h3><span>慕容杰克</span></h3>
                        </div>
                        <div class="achive_section">
                            <h3>个人资料</h3>
                            <ul>
                                <li><a href="userspace-details.html"><i class="fa fa-caret-right" aria-hidden="true"></i>浏览信息</a></li>
                                <li><a href="userspace-modify.html"><i class="fa fa-caret-right" aria-hidden="true"></i>管理信息</a></li>
                            </ul>
                        </div>
                        <div class="achive_section">
                            <h3>我的课程</h3>
                            <ul>
                                <li><a href="userspace-courses.html"><i class="fa fa-caret-right" aria-hidden="true"></i>课程进行中</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>课程已完成</a></li>
                            </ul>
                        </div>
                        <div class="achive_section">
                            <h3>我的测试</h3>
                            <ul>
                                <li><a href="userspace-exam.html"><i class="fa fa-caret-right" aria-hidden="true"></i>测试列表</a></li>
                            </ul>
                        </div>
                        <div class="achive_section">
                            <h3>最近活动</h3>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-1.jpg}" alt="">
                                <a href="#">
                                    <h5>7 Quick Ways to Make a Great Event Successful</h5>
                                </a>
                                <p>25 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-2.jpg}" alt="">
                                <a href="#">
                                    <h5>Science &amp; IT Fair Coming to Your University</h5>
                                </a>
                                <p>48 min ago</p>
                            </div>
                            <div class="single_latest_post">
                                <img th:src = "@{img/course-img/event-3.jpg}" alt="">
                                <a href="#">
                                    <h5>How to Pick the Right Event Titles for Your Events</h5>
                                </a>
                                <p>55 min ago</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Left Area End-->

                <!--Main Area Start-->
                <div class="col-12 col-lg-9">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-1">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                            <div class="navbar-header">
                                            <a class="navbar-brand" href="#">个人资料</a>
                                            </div>
                                            <div>
                                                <li><a href="#">浏览信息</a></li>
                                                <li style="position:absolute;width:100%;left:0;border-top:dashed 1px #CCCCCC;line-height:1px;zoom:1;"></li>
                                            </div>
                                    </div>
                                </nav>
                            </div>
                            <div class="col-md-6 col-6">
                                <!-- Teacher Full Image Start -->
                                <div class="teacher_full_image">
                                    <img th:src="@{img/users-img/userfullsize.png}" alt="" class="img-thumbnail">
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <!-- Teacher Details Info Area Start -->
                                <div class="teacher_details_info">
                                    <!-- Teacher Name Designation Start -->
                                    <div class="name_designation">
                                        <h3>慕容杰克</h3>
                                        <h5>初中二年级</h5>
                                    </div>
                                    <!-- Teacher Contact Info Start -->
                                    <div class="teacher_contact_info">
                                        <!-- Single Contact Info Start -->
                                        <div class="tea_single_contact_info">
                                            <div class="contact_icon">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </div>
                                            <div class="contact_data">
                                                <p>Road No - 9, Dhaka, BD</p>
                                            </div>
                                        </div>
                                        <!-- Single Contact Info Start -->
                                        <div class="tea_single_contact_info">
                                            <div class="contact_icon">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="contact_data">
                                                <p>info@yoursite.com</p>
                                            </div>
                                        </div>
                                        <!-- Single Contact Info Start -->
                                        <div class="tea_single_contact_info">
                                            <div class="contact_icon">
                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                            </div>
                                            <div class="contact_data">
                                                <p>+880 179 11 66 123</p>
                                            </div>
                                        </div>
                                        <!-- Single Contact Info Start -->
                                        <div class="tea_single_contact_info">
                                            <div class="contact_icon">
                                                <i class="fa fa-globe" aria-hidden="true"></i>
                                            </div>
                                            <div class="contact_data">
                                                <p>www.designing-world.com</p>
                                            </div>
                                        </div>
                                        <!-- Single Contact Info Start -->
                                        <div class="tea_single_contact_info">
                                            <div class="contact_icon">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            </div>
                                            <div class="contact_data">
                                                <p>B. Sc in Science (2009)</p>
                                            </div>
                                        </div>
                                        <!-- Single Contact Info Start -->
                                        <div class="tea_single_contact_info">
                                            <div class="contact_icon social">
                                                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="contact_icon social">
                                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="contact_icon social">
                                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="contact_icon social">
                                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="contact_icon social">
                                                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Teacher Contact Info End -->
                                </div>
                                <!-- Teacher Details Info Area End -->
                            </div>
                            <div class="col-md-12 col-5">
                                <!-- About Teacher Start -->
                                <div class="about_teacher">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eos, vero ad velit nobis rerum saepe, doloremque illo maiores aliquid perferendis necessitatibus quidem est veritatis nihil ratione eius nam sapiente.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eos, vero ad velit nobis rerum saepe, doloremque illo maiores aliquid perferendis necessitatibus quidem est veritatis nihil ratione eius nam sapiente.</p>
                                </div>
                                <div class="tag_section">
                                    <h3><span>我的标签</span></h3>
                                    <ul>
                                        <li><a href="#">Event</a></li>
                                        <li><a href="#">Workshop</a></li>
                                        <li><a href="#">E-commerce</a></li>
                                        <li><a href="#">Web</a></li>
                                        <li><a href="#">Apps</a></li>
                                        <li><a href="#">Development</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Main Area End-->

            </div>
        </div>

    </section>
    <!-- ========================== User Space Area End ========================== -->

    <!-- ===================== Footer Area Start ===================== -->
    <footer class="footer_area">
        <div class="container">
            <div class="section_padding_100_70">
                <div class="row">
                    <!-- Footer About Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_about_us footer-single-part">
                            <div class="title">
                                <h4>About EduCamp</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nostrum, illum quod facilis minima natus adipisci, fugit provident! Totam ipsam, ullam aut. Autem, corporis, tenetur.</p>
                            <div class="footer_social_links">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer About Area End -->

                    <!-- Contact info Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_contact_info footer-single-part">
                            <div class="title">
                                <h4>get in touch</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                <p>House - 87, Mirpur DOHS, Dhaka, Bangladesh</p>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+8801791166123">+88 698 257 14520</a>
                                <a href="tel:+8801791166123">+88 698 257 14521</a>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:info@educamp.com">info@educamp.com</a>
                                <a href="mailto:care@educamp.com">care@educamp.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- Contact info Area End -->

                    <!-- Useful Links Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>useful links</h4>
                                <div class="underline"></div>
                            </div>
                            <!-- Links Start -->
                            <div class="links">
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> All Our Courses</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Calendar</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Customer Support</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Career at EduCamp</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Terms &amp; Conditions</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Community Forums</a>
                            </div>
                        </div>
                    </div>

                    <!-- Useful Links Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>Subscribe Newsletter</h4>
                                <div class="underline"></div>
                            </div>
                            <div class="newsletter_from">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Enter Your E-mail" required>
                                    </div>
                                    <button type="submit" class="btn blog-btn w-100">Submit <i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_bottom">
                            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Designing World</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ===================== Footer Area End ===================== -->
</body>
<!-- Active js 这个js必须最后引入！如果提前引入则导致页面卡在 preload 页面 -->
<script th:src="@{js/custom.js}"></script>
</html>