<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="YES网络教学平台"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>YES网络教学平台</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{img/core-img/favicon.ico}"/>

    <!-- ===================== All CSS Files ===================== -->

    <!-- Bootstrap Core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link rel="stylesheet" th:href="@{style.css}"/>

    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{css/responsive.css}"/>

    <link th:href="@{css/video-default.css}" rel="stylesheet">

</head>

<body>
<!-- preloader start -->
<div id="preloader"></div>
<!-- /.end preloader -->

<!-- Header Area Start -->
<header class="header_area">
    <!-- Top Header Area Start -->
    <div class="top_header_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md">
                    <!--  Top Quote Area Start -->
                    <div class="top_quote">
                        <p>Welcome to YES Learning Platform</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="login_language_area d-flex align-items-center float-right">
                        <!-- Login Register Area Start -->
                        <div class="login_register">
                            <a href="login.html"><i class="fa fa-lock" aria-hidden="true"></i> 登录 / 注册</a>
                        </div>
                        <!-- Language Area Start -->
                        <div class="language_area">
                            <div class="dropdown">
                                <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="lag" type="button" class="btn btn-default dropdown-toggle"><i class="fa fa-globe" aria-hidden="true"></i>语言</button>
                                <ul aria-labelledby="lag" class="dropdown-menu">
                                    <li><a href="#">中文</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">বাংলা</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header Area Start -->
    <div class="main_header_area animated">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <!-- Logo Area -->
                    <div class="logo_area">
                        <a href="index.html"><img th:src="@{img/core-img/logo.png}" alt=""></a>
                    </div>
                </div>

                <div class="col-12 col-md-9">
                    <!-- Menu Area -->
                    <div class="main_menu_area">
                        <div class="mainmenu">
                            <nav>
                                <ul id="nav">
                                    <li class="current_page_item"><a href="index.html">主页</a></li>
                                    <li><a href="#">公告文章<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="news.html">新闻列表 </a></li>
                                            <li><a href="artical.html">专栏文章 </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">最新活动<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="event-grid.html">活动列表 Grid</a></li>
                                            <li><a href="event-list.html">活动列表 List</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">课程超市<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="course-grid.html">课程列表 Grid</a></li>
                                            <li><a href="course-list.html">课程列表 List</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">图片游廊<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="gallery-fullwidth.html">展示 Fullwidth</a></li>
                                            <li><a href="gallery-4-column.html">展示 4 Column</a></li>
                                            <li><a href="gallery-3-column.html">展示 3 Column</a></li>
                                            <li><a href="gallery-2-column.html">展示 2 Column</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">师资力量<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="teachers.html">教师列表</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">联系我们</a></li>
                                    <button type="submit" class="btn btn-default" id="login_submit">学习空间</button>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- ===================== Breadcumb area start ===================== -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>测试课程Prototype_01</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Breadcumb area end ===================== -->

    <!-- ========================== User Space Area Start ========================== -->
    <section class="latest_blog_news_area blog sidebar section_padding_100">
        <div class="container">
            <div class="row">
                <!--Left Area Start-->
                <div class="col-12 col-lg-4">
                    <div class="event_sidebar">
                        <div class="achive_section">
                            <h3><span>目录</span></h3>
                        </div>
                        <div class="achive_section">
                            <h3><span>章节 1</span> <br> Lorem ipsum dolor sit  </h3>
                            <ul>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>1.1 consectetur</a></li>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>1.2 consectetur</a></li>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>1.3 consectetur</a></li>
                            </ul>
                        </div>
                        <div class="achive_section">
                            <h3><span>章节 2</span> <br>Lorem ipsum dolor sit  </h3>
                            <ul>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>2.1 consectetur</a></li>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>2.2 consectetur</a></li>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>2.3 consectetur</a></li>
                            </ul>
                        </div>
                        <div class="achive_section">
                            <h3><span>章节 3</span> <br>Lorem ipsum dolor sit  </h3>
                            <ul>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>3.1 consectetur</a></li>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>3.2 consectetur</a></li>
                                <li><a ><i class="fa fa-caret-right" aria-hidden="true"></i>3.3 consectetur</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Left Area End-->

                <!--Main Area Start-->
                <div class="col-12 col-lg-7">

                    <div class="container">
                        <div class="row">
                                <!-- Courses Details Thumb Area Start -->
                            <div class="courses_details_thumb  col-6 col-lg-12">
                                <!-- Courses Details Thumb Caption Area Start -->
                                 <!-- Video Area Start -->
                                <div class="videoUiWrapper thumbnail">
                                    <video width="720" height="480"  id="demo1" controls="controls">
                                        <source th:src="@{video/english.mp4}" type="video/mp4">
                                        your browser does not support the video tag
                                    </video>
                                </div>
                            </div>
                                <!-- Courses Details Thumb Area End -->

                                <!-- Courses Overview -->
                            <div class="col-3 col-lg-12">
                                <div class="courses_overview">
                                    <h5>课程目标</h5>
                                </div>

                                <!-- Courses Overview Content -->
                                <div class="couress_overview_content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reprehenderit consectetur sed dolores voluptatem culpa necessitatibus debitis repudiandae, architecto sint eum fugiat corporis facilis totam accusantium est omnis rem ex!</p>
                                </div>
                            </div>
                                <!-- Courses Description -->
                            <div class="col-3 col-lg-12">
                                <div class="courses_description">
                                    <h5>评论区</h5>
                                </div>
                                <br>

                                <!-- Courses Description Content -->
                                <div  class="contact_input_area">
                                    <div>

                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" src="./images/36.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">端木玛丽</h4>
                                                <p>Cras sit am</p>
                                                <p>4楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" src="./images/36.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">端木玛丽</h4>
                                                <p>Cras sit amet nibh libero, in gr</p>
                                                <p>3楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" src="./images/36.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">端木玛丽</h4>
                                                <p>Clla vel metus scelerisqpis.</p>
                                                <p>2楼&nbsp;&nbsp;2017-08-08&nbsp;&nbsp;23:15发表</p>
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button class="btn btn-default btn-block">查看更多</button>
                                            <br>
                                        </div>

                                        <!-- Single Input Area Start -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="message" id="message" class="form-control"  placeholder="Your Message *" required></textarea>
                                            </div>
                                        </div>
                                        <!-- Single Input Area Start -->
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-default">发表评论</button>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- Courses Description -->

                            <div class="col-3 col-lg-12">
                                <div class="courses_description m-bottom-50 ">
                                    <h5>关联课程</h5>
                                </div>

                                <!-- Single Courses Area Start -->
                                <div class="row">
                                    <!-- Single Courses Area Start -->
                                    <div class="col-12 col-lg-6">
                                        <!-- Single Courses Area Start -->
                                        <div class="single_courses">
                                            <div class="single_courses_thumb">
                                                <div class="courses_badge">
                                                    <span>New</span>
                                                </div>
                                                <img th:src="@{img/course-img/c-3.jpg}" alt="">
                                            </div>
                                            <div class="single_courses_desc">
                                                <div class="title">
                                                    <a href="#">Introduction to Family Engagement in Education</a>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, excepturi!</p>
                                                </div>
                                                <div class="price_rating_area d-flex align-items-center">
                                                    <div class="price w-50">
                                                        <span>$199</span>
                                                    </div>
                                                    <div class="rating text-right w-50">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                        <span>(4 Vote)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Courses Area Start -->
                                    <div class="col-12 col-lg-6">
                                        <!-- Single Courses Area Start -->
                                        <div class="single_courses">
                                            <div class="single_courses_thumb">
                                                <div class="courses_badge">
                                                    <span>-25%</span>
                                                </div>
                                                <img th:src="@{img/course-img/c-4.jpg}" alt="">
                                            </div>
                                            <div class="single_courses_desc">
                                                <div class="title">
                                                    <a href="#">Introduction to Family Engagement in Education</a>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, excepturi!</p>
                                                </div>
                                                <div class="price_rating_area d-flex align-items-center">
                                                    <div class="price w-50">
                                                        <span>$199</span>
                                                    </div>
                                                    <div class="rating text-right w-50">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                        <span>(4 Vote)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Courses Area End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--Main Area End-->

            </div>
        </div>

    </section>
    <!-- ========================== User Space Area End ========================== -->

    <!-- ===================== Footer Area Start ===================== -->
    <footer class="footer_area">
        <div class="container">
            <div class="section_padding_100_70">
                <div class="row">
                    <!-- Footer About Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_about_us footer-single-part">
                            <div class="title">
                                <h4>About EduCamp</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nostrum, illum quod facilis minima natus adipisci, fugit provident! Totam ipsam, ullam aut. Autem, corporis, tenetur.</p>
                            <div class="footer_social_links">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer About Area End -->

                    <!-- Contact info Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_contact_info footer-single-part">
                            <div class="title">
                                <h4>get in touch</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                <p>House - 87, Mirpur DOHS, Dhaka, Bangladesh</p>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+8801791166123">+88 698 257 14520</a>
                                <a href="tel:+8801791166123">+88 698 257 14521</a>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:info@educamp.com">info@educamp.com</a>
                                <a href="mailto:care@educamp.com">care@educamp.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- Contact info Area End -->

                    <!-- Useful Links Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>useful links</h4>
                                <div class="underline"></div>
                            </div>
                            <!-- Links Start -->
                            <div class="links">
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> All Our Courses</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Calendar</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Customer Support</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Career at EduCamp</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Terms &amp; Conditions</a>
                                <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Community Forums</a>
                            </div>
                        </div>
                    </div>

                    <!-- Useful Links Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>Subscribe Newsletter</h4>
                                <div class="underline"></div>
                            </div>
                            <div class="newsletter_from">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Enter Your E-mail" required>
                                    </div>
                                    <button type="submit" class="btn blog-btn w-100">Submit <i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_bottom">
                            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Designing World</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ===================== Footer Area End ===================== -->
    <!-- ===================== All jQuery Plugins ===================== -->

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script th:src="@{js/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{js/static.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{js/custom.js}"></script>
    <!-- Video js -->
    <script th:src="@{js/jquery.video-ui.js}"></script>
</body>

</html>