<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- ===================== Breadcumb area start ===================== -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>学习空间</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>User Space</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Breadcumb area end ===================== -->

<!-- ========================== User Space Area Start ========================== -->
<section class="latest_blog_news_area blog sidebar section_padding_100">
    <div class="container">
        <div class="row">
            <!--Left Area Start-->
            <div class="col-12 col-lg-3">
                <div class="event_sidebar">
                    <div class="achive_section">
                        <img th:src = "@{img/users-img/usersmall.png}" class="img-thumbnail" alt="" >
                        <h3><span>慕容杰克</span></h3>
                    </div>
                    <div class="achive_section">
                        <h3>个人资料</h3>
                        <ul>
                            <li><a href="userspace-details.html"><i class="fa fa-caret-right" aria-hidden="true"></i>浏览信息</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>管理信息</a></li>
                        </ul>
                    </div>
                    <div class="achive_section">
                        <h3>我的课程</h3>
                        <ul>
                            <li><a href="userspace-courses.html"><i class="fa fa-caret-right" aria-hidden="true"></i>课程进行中</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>课程已完成</a></li>
                        </ul>
                    </div>
                    <div class="achive_section">
                        <h3>我的测试</h3>
                        <ul>
                            <li><a href="userspace-exam.html"><i class="fa fa-caret-right" aria-hidden="true"></i>测试列表</a></li>
                        </ul>
                    </div>
                    <div class="achive_section">
                        <h3>最近活动</h3>
                        <div class="single_latest_post">
                            <img th:src = "@{img/course-img/event-1.jpg}" alt="">
                            <a href="#">
                                <h5>7 Quick Ways to Make a Great Event Successful</h5>
                            </a>
                            <p>25 min ago</p>
                        </div>
                        <div class="single_latest_post">
                            <img th:src = "@{img/course-img/event-2.jpg}" alt="">
                            <a href="#">
                                <h5>Science &amp; IT Fair Coming to Your University</h5>
                            </a>
                            <p>48 min ago</p>
                        </div>
                        <div class="single_latest_post">
                            <img th:src = "@{img/course-img/event-3.jpg}" alt="">
                            <a href="#">
                                <h5>How to Pick the Right Event Titles for Your Events</h5>
                            </a>
                            <p>55 min ago</p>
                        </div>
                    </div>

                </div>
            </div>
            <!--Left Area End-->

            <!--Main Area Start-->
            <div class="col-12 col-lg-9">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-1">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">我的课程</a>
                                    </div>
                                    <div>
                                        <li><a href="#">课程进行中</a></li>
                                        <li style="position:absolute;width:100%;left:0;border-top:dashed 1px #CCCCCC;line-height:1px;zoom:1;"></li>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!-- Single Courses Area Start -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <!-- Single Courses Area Start -->
                            <div class="single_courses">
                                <div class="single_courses_thumb">
                                    <img th:src="@{img/course-img/c-1.jpg}" alt="">
                                </div>
                                <div class="single_courses_desc">
                                    <div class="title">
                                        <a href="usercourse-index.html">测试课程Prototype_01</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, excepturi!</p>
                                    </div>
                                    <div class="price_rating_area d-flex align-items-center">
                                        <div class="rating text-right w-50">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                            <span>(4 Vote)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Area End -->

                        <!-- Single Courses Area Start -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <!-- Single Courses Area Start -->
                            <div class="single_courses">
                                <div class="single_courses_thumb">
                                    <img th:src="@{img/course-img/c-2.jpg}" alt="">
                                </div>
                                <div class="single_courses_desc">
                                    <div class="title">
                                        <a href="#">Introduction to Family Engagement in Education</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, excepturi!</p>
                                    </div>
                                    <div class="price_rating_area d-flex align-items-center">
                                        <div class="rating text-right w-50">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                            <span>(4 Vote)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Area End -->

                        <!-- Single Courses Area Start -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <!-- Single Courses Area Start -->
                            <div class="single_courses">
                                <div class="single_courses_thumb">
                                    <img th:src="@{img/course-img/c-3.jpg}" alt="">
                                </div>
                                <div class="single_courses_desc">
                                    <div class="title">
                                        <a href="#">Introduction to Family Engagement in Education</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, excepturi!</p>
                                    </div>
                                    <div class="price_rating_area d-flex align-items-center">
                                        <div class="rating text-right w-50">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                            <span>(4 Vote)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Area End -->
                    </div>
                </div>
            </div>
            <!--Main Area End-->

        </div>
    </div>

</section>
<!-- ========================== User Space Area End ========================== -->
<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->

</body>

</html>