<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragment-head:: head">
</head>

<body>

<!-- Header Area Start -->
<header class="header_area" th:replace="fragment-head :: header">
</header>
<!--  ===================== Header Area End ===================== -->

    <!-- ===================== Breadcumb area start ===================== -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Teacher</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Teacher Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Breadcumb area end ===================== -->

    <!-- ================= All Our Teacher Area Start =============== -->
    <section class="all_our_teacher_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <!-- Teacher Full Image Start -->
                    <div class="teacher_full_image">
                        <img th:src="@{img/teacher-img/teacher.jpg}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <!-- Teacher Details Info Area Start -->
                    <div class="teacher_details_info">
                        <!-- Teacher Name Designation Start -->
                        <div class="name_designation">
                            <h3>Dr. NAZRUL ISLAM</h3>
                            <h5>Senior Trainer</h5>
                        </div>
                        <!-- About Teacher Start -->
                        <div class="about_teacher">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eos, vero ad velit nobis rerum saepe, doloremque illo maiores aliquid perferendis necessitatibus quidem est veritatis nihil ratione eius nam sapiente.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eos, vero ad velit nobis rerum saepe, doloremque illo maiores aliquid perferendis necessitatibus quidem est veritatis nihil ratione eius nam sapiente.</p>
                        </div>
                        <!-- Teacher Contact Info Start -->
                        <div class="teacher_contact_info">
                            <!-- Single Contact Info Start -->
                            <div class="tea_single_contact_info">
                                <div class="contact_icon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="contact_data">
                                    <p>Road No - 9, Dhaka, BD</p>
                                </div>
                            </div>
                            <!-- Single Contact Info Start -->
                            <div class="tea_single_contact_info">
                                <div class="contact_icon">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <div class="contact_data">
                                    <p>info@yoursite.com</p>
                                </div>
                            </div>
                            <!-- Single Contact Info Start -->
                            <div class="tea_single_contact_info">
                                <div class="contact_icon">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                </div>
                                <div class="contact_data">
                                    <p>+880 179 11 66 123</p>
                                </div>
                            </div>
                            <!-- Single Contact Info Start -->
                            <div class="tea_single_contact_info">
                                <div class="contact_icon">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <div class="contact_data">
                                    <p>www.designing-world.com</p>
                                </div>
                            </div>
                            <!-- Single Contact Info Start -->
                            <div class="tea_single_contact_info">
                                <div class="contact_icon">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <div class="contact_data">
                                    <p>B. Sc in Science (2009)</p>
                                </div>
                            </div>
                            <!-- Single Contact Info Start -->
                            <div class="tea_single_contact_info">
                                <div class="contact_icon social">
                                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                </div>
                                <div class="contact_icon social">
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                                <div class="contact_icon social">
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </div>
                                <div class="contact_icon social">
                                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                </div>
                                <div class="contact_icon social">
                                    <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Teacher Contact Info End -->
                    </div>
                    <!-- Teacher Details Info Area End -->
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== All Our Teacher Area End ==================== -->

    <!-- ===================== Cool Facts Area Start ===================== -->
    <section class="about_cool_facts cool_facts_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3><span class="counter">763</span></h3>
                        <h4>Free Courses</h4>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h3><span class="counter">10</span>k+</h3>
                        <h4>Students Enrolled</h4>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <h3><span class="counter">251</span></h3>
                        <h4>Certified Teachers</h4>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3><span class="counter">7412</span></h3>
                        <h4>Complate Graduates</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ===================== Why Chooses Area End ===================== -->

    <!-- ===================== Our Teacher Area Start ===================== -->
    <section class="our_teachers_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area Start -->
                    <div class="section_heading">
                        <h2>Our Other Teachers</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis amet mollitia voluptatibus dolor officiis ad.</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-3">
                    <div class="single_teacher_profile">
                        <div class="teacher_thumb">
                            <img th:src="@{img/teacher-img/team-member-1.jpg}" alt="">
                        </div>
                        <div class="single_teacher_details_info">
                            <h5>NAZRUL ISLAM</h5>
                            <p>Senior Teacher</p>
                            <div class="teacher_social_info">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="single_teacher_profile">
                        <div class="teacher_thumb">
                            <img th:src="@{img/teacher-img/team-member-2.jpg}" alt="">
                        </div>
                        <div class="single_teacher_details_info">
                            <h5>DELOWAR HOSAIN</h5>
                            <p>Senior Teacher</p>
                            <div class="teacher_social_info">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="single_teacher_profile">
                        <div class="teacher_thumb">
                            <img th:src="@{img/teacher-img/team-member-3.jpg}" alt="">
                        </div>
                        <div class="single_teacher_details_info">
                            <h5>MITHILA MOU</h5>
                            <p>Senior Teacher</p>
                            <div class="teacher_social_info">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="single_teacher_profile">
                        <div class="teacher_thumb">
                            <img th:src="@{img/teacher-img/team-member-4.jpg}" alt="">
                        </div>
                        <div class="single_teacher_details_info">
                            <h5>IMRAN KHAN</h5>
                            <p>Senior Teacher</p>
                            <div class="teacher_social_info">
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ===================== Our Teacher Area End ===================== -->

<!-- ===================== Footer Area Start ===================== -->
<footer class="footer_area" th:replace="fragment-foot :: footer">
</footer>
<!-- ===================== Footer Area End ===================== -->
</body>

</html>